:root {
    /* background colors */
    --bg-primary-color : #0c0c0c;

    /* text colors */
    --text-primary-color : #f0f0f0;

    /* padding */
    --padding-small: 0.25rem;
    --padding-small-2: 0.5rem;
    --padding-medium : 1rem;
    --padding-large : 1.5rem;
    --padding-extra-large : 2rem;
    --padding-xl: 2.5rem;
    --padding-xl2 : 3rem
 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
}

section {
    padding: var(--padding-xl);
}
section .infos .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}